
.name{
    color: green;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
  background-color: aqua;
  max-width: 800px;
  margin: 0 auto;
}
.nav-list {
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item{
  padding: 0 10px;
}
.main{
  background-color: azure;
  width: 800px;
  margin: 0  auto 0;
}
.header{
  margin: 10px 0 -16px;
}
.footer_links {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}